<!doctype html>

<head>

    <title>&lt;Bits4Bites&gt;</title>

    <link rel='stylesheet' href='/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <script src="https://unpkg.com/jquery@3.1.1/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <script src="https://unpkg.com/vue/dist/vue.js">
    </script>

    <div id="bits4bites">

        <header>
            <nav class="nav-extended">
                <div class="nav-wrapper">
                    <div class="brand-logo">
                        <a href="#">&lt;bits4bites&gt;</a>
                        <p class="center" style="display: inline; font-size: .5em;">We build websites for food.</p>
                    </div>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#ourChefs">Our Chefs</a></li>
                        <li><a href="#ourProjects">Our Projects</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#ourChefs">Our Chefs</a></li>
                        <li><a href="#ourProjects">Our Projects</a></li>
                    </ul>
                </div>
            </nav>

            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-fixed-item center">
                    <a class="btn waves-effect white grey-text darken-text-2">button</a>
                </div>
                <div class="carousel-item red white-text" href="#one!">
                    <h2 style='color: #bad; font-size: 72px; font-weight: 800'>Big Bear</h2>
                    <p class="white-text">This is your first panel, woo!</p>
                </div>
                <div class="carousel-item amber white-text" href="#two!">
                    <h2>Second Panel</h2>
                    <p class="white-text">This is your second panel</p>
                </div>
                <div class="carousel-item green white-text" href="#three!">
                    <h2>Third Panel</h2>
                    <p class="white-text">This is your third panel</p>
                </div>
                <div class="carousel-item blue white-text" href="#four!">
                    <h2>Fourth Panel</h2>
                    <p class="white-text">This is your fourth panel</p>
                </div>
            </div>
        </header>

        <div id="ourChefs" class="fullWidth center is-medium">
            <h1>Our Chefs</h1>
        </div>

        <div v-for="person in persons" class="fullWidth-body">
            <h2>{{person.name}}</h2>
            <p>{{person.description}}</p>
        </div>

        <div id="ourProjects" class="fullWidth center is-medium">
            <div class="fullWidth-body">
                <h1>Our Projects</h1>
            </div>
        </div>
        <div class='container center'>
            <h1>Past Projects</h1>
            <div id='projects' class='row'>
                <div class='project col s12 m6 l4' v-for='project in projects'>
                    <a v-bind:href='project.link'>
                        <h2 class='project-name'>{{ project.name }}</h2>
                        <img class='project-image' v-bind:src='project.image' />
                    </a>
                    <p>
                        {{ project.description }}
                    </p>
                    <ul class='tech-tags'>
                        <li v-for='item in project.tech'>{{ item }}</li>
                    </ul>
                    </a>
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Contact is for a quote!</h5>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" type="email" class="validate">
                                        <label for="email" data-error="wrong" data-success="right">Email</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            // var url = 'https://cdn.rawgit.com/andrewbiang888/bits4bites/bf3cce09/projects/projects.json';
            var url = '/projects/projects.json';
            var req = new XMLHttpRequest();
            req.open('GET', url, true);
            req.onreadystatechange = function() {
                if (req.readyState === XMLHttpRequest.DONE && req.status === 200) {
                    var projects = JSON.parse(req.responseText);
                    init(shuffle(projects));
                }
            };
            req.send();

            function init(projects) {
                // put all the logic that uses the projects data in here!

                console.log(projects);

                var app = new Vue({
                    el: '#projects',
                    data: {
                        projects
                    }
                })
              };
          </script>

                <script>
                    // var url = 'https://cdn.rawgit.com/andrewbiang888/bits4bites/bf3cce09/projects/projects.json';
                    var url = '/projects/projects.json';
                var req = new XMLHttpRequest();
                req.open('GET', url, true);
                req.onreadystatechange = function() {
                    if (req.readyState === XMLHttpRequest.DONE && req.status === 200) {
                        var projects = JSON.parse(req.responseText);
                        init(shuffle(projects));
                    }
                };
                req.send();

                function init(projects) {
                    // put all the logic that uses the projects data in here!

                    var app = new Vue({
                                el: '#projects',
                                data: {
                                    projects


                                }
                              });

                                // randomize array, from http://stackoverflow.com/a/2450976
                                function shuffle(array) {
                                    var currentIndex = array.length,
                                        temporaryValue, randomIndex;

                                    // While there remain elements to shuffle...
                                    while (0 !== currentIndex) {

                                        // Pick a remaining element...
                                        randomIndex = Math.floor(Math.random() * currentIndex);
                                        currentIndex -= 1;

                                        // And swap it with the current element.
                                        temporaryValue = array[currentIndex];
                                        array[currentIndex] = array[randomIndex];
                                        array[randomIndex] = temporaryValue;
                                    }
                                    return array;
                                };
                              };
        </script>


        <script src="script.js"></script>
</body>

</html>
